---
name: Functional Tests

on:  # yamllint disable-line rule:truthy
  pull_request: {}
  push:
    branches:
      - main

jobs:
  functional-tests:
    name: Send message
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      contents: read
    steps:
      - name: Checkout ${{ github.repository }}
        uses: actions/checkout@v6
      - name: Send ICQ notification
        uses: ./
        with:
          token: ${{ secrets.ICQ_TOKEN }}
          to: ${{ secrets.ICQ_TO }}
          message: "Hello from GitHub Action"
          file: README.md
